<h1><%= @cat.name %></h1>

<table border="1">
  <tr bgcolor="#00FF00">
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>AGE</td>
    <td>OVER <%= @cat.age %> YEARS</td>
  </tr>
  <tr>
    <td>BIRTH_DATE</td>
    <td><%= @cat.birth_date %></td>
  </tr>
  <tr>
    <td>COLOR</td>
    <td><%= @cat.color %></td>
  </tr>
  <tr>
    <td>SEX</td>
    <td><%= @cat.sex %></td>
  </tr>
</table>